.cover__subtitle{
  position: absolute;
  max-width: 360px;
  max-height: 66px;
  top: calc(65% - 111px / 2);
  left: calc(50% - 360px / 2);
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  z-index: 1;
  opacity: .9;
}

@media screen and (max-width:425px) {

  .cover__subtitle{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    width: 288px;
    height: 48px;
    top: calc(50% - 6px );
    left: calc(50% - 150px);
}
  
}