.footer{
    display: flex;
    justify-content: space-between;
    margin: 92px auto 24px;
   
    border: 1px solid red;
}

@media screen and (max-width:768px) {
    .footer{
        margin: 88px 24px 24px 24px;
    }
}

@media screen and (max-width:320px) {
    .footer{
        display: flex;
        flex-direction: column;
    }
}
