.cover{ 
    position: relative;
    margin: 92px auto 0px;
    max-width: 1184px;
    max-height: 784px;
    color: white;
    }

@media screen and (max-width:1024px) {
    .cover{
        margin-top: 92px;
        width: calc(100vw - 2 * 3.75vw);
    }
    
}

@media screen and (max-width:768px) {
    .cover{
        margin-top: 90px;
        width: calc(100vw - 2 * 3.75vw);
        
    }
    
}

@media screen and (max-width:425px) {
    .cover{
        margin-top: 90px;
        width: calc(100vw - 2 * 3.75vw); 
    }
    
}

