.footer__link{
text-decoration: none;
color: #ffff;
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 18px;
margin-right: 18px;
border: 1px solid yellow;
}




@media screen and (max-width:320px) {
    .footer__link{
        display: flex;
        justify-content: flex-start;
        margin-bottom: 32px;
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
         font-size: 24px;
        line-height: 24px;

    }
}