.place{
  border:1px solid rgb(51, 255, 0);
  display: grid;
 grid-template-columns: 45% 55%;
 grid-template-rows: 20% 80%;
 grid-template-areas: "t w"
                      " i p";
}

@media screen and (max-width:425px) {
  .place{
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 6% 14% 30% 50%;
      grid-template-areas: "t"
                           "w"
                           "i"
                           "p";

  }
}