.lead__title{
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    width: 720px;
    height: 200px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
    max-width: 1280px;
    border: 1px solid green;
}

@media screen and (max-width: 1280px)
{ 
    .lead__title{
        width: 720px;
        height: 200px;
    }
}


@media screen and (max-width: 425px)
{ 
    .lead__title{
        width: 288px;
        height: 88px;
        font-size: 40px;
        line-height: 44px;
     }
}