.place__paragraph{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    margin-top: 40px;
    margin-right: 20px;
    }

    .place__paragraph:last-of-type {
        margin: 0px 20px 0px 0px;
      }

    @media screen and (max-width:425px) {
        .place__paragraph{
         padding: 0px;
        margin-top: 32px;
        margin-right: 16px;
        }
    }




  


