.place__website{
    grid-area: w;
    padding-left: 40px;
    margin-top: 16px;
    }

    @media screen and (max-width:425px) {
       
        .place__website{
            margin-top: 16px;
        }
    
    }