.place__website{
    grid-area: w;
    margin-top: 16px;
    text-decoration: none;
    margin-left: 40px;
}

@media screen and (max-width:1024px) {
       
    .place__website{
        margin-top: 16px;
        margin-left: 32px;
        height: 1042px;
    }

}

    @media screen and (max-width:425px) {
       
        .place__website{
            margin-top: 16px;
            height: 1042px;
            margin-left: 0px;
        }
    
    }