.place__website{
    grid-area: w;
    margin-top: 16px;
    text-decoration: none;
}

    @media screen and (max-width:425px) {
       
        .place__website{
            margin-top: 16px;
            height: 1042px;
        }
    
    }