.cover__title{
  border: 1px solid rgb(30, 255, 0);
  width: 560px;
  height: 152px;
 position: absolute;
 top: calc(50% - 400px / 2);
 left: calc(50% - 280px);
font-family: Inter;
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 76px;
text-align: center;
z-index: 1;
opacity: 1;
}

@media screen and (max-width:425px) {
  .cover__title{
    position: absolute;
font-family: Inter;
font-style: normal;
font-weight: 900;
font-size: 32px;
line-height: 35px;
 width: 288px;
 height: 70px;
 top: calc(50% - 200px / 2);
 left: calc(50% - 145px);

  }
}
